<div class="register-container">
  <!-- Left Side: Background Image with Carousel -->
  <div class="left">
    <div class="carousel">
      <div *ngFor="let message of messages; let i = index" [class.active]="i === activeIndex()" class="carousel-message">
        <h2>{{ message }}</h2>
      </div>
    </div>
  </div>

  <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Criar uma Conta Profissional</h2>
      <h3>Preencha seus dados para ter acesso</h3>
    <mat-form-field appearance="fill">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmar Senha</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
    </mat-form-field>
    <div *ngIf="form.errors?.['passwordsMismatch'] && (form.get('confirmPassword')?.touched || form.get('confirmPassword')?.dirty)">
      <p class="error-text">As senhas não coincidem.</p>
    </div>
    <mat-checkbox formControlName="acceptedTerms">
      Li e aceito os
      <a href="/termos" target="_blank">Termos de Uso & Privacidade</a> e o
      <a href="/contrato" target="_blank">Contrato de Serviço</a>.
    </mat-checkbox>

      <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid || !form.get('acceptedTerms')?.value"
      >Criar Conta</button>
    </form>
  </div>
</div>
